<table summary="Page form fields">
			<tr>
				<th><%= f.label(:name, "Name") %></th>
				<th><%= f.text_field(:name) %></th>
			</tr>
				<tr>
				<th><%= f.label(:subject_id, "Subject") %></th>
				<th><%= f.select(:subject_id,@subjects.map {|s| [s.name,s.id]}) %></th>
			</tr>
			<tr>
				<th><%= f.label(:position) %></th>
				<th><%= f.select(:position, 1..@page_count) %></th>
			</tr>
			<tr>
				<th><%= f.label(:visible) %></th>
				<th><%= f.check_box(:visible)%></th>
			</tr>
			<tr>
				<th><%= f.label(:permalink) %></th>
				<th><%= f.text_field(:permalink) %></th>
			</tr>
		</table>